
<header class="header">
  <div class="logo">
    <img src="/logo.png" alt="Logo" />
  </div>

  <nav class="nav-bar">
    <ul>
      <li><a routerLink="/sell">Acheter</a></li>
      <li><a routerLink="/">Vendre</a></li>
      <li><a routerLink="/info">S'informer</a></li>
    </ul>
  </nav>

  <!-- Zone compte -->
  <div class="user-menu" *ngIf="isLoggedIn">
    <span (click)="toggleMenu()">{{ userName }} ▼</span>
    <ul *ngIf="menuOpen" class="dropdown">
      <li (click)="logout()">Déconnexion</li>
    </ul>
  </div>
</header>
